a {
  color: #00B7FF;
}

body {
        font-family: Verdana;
        font-size: 13px;
        background: #111111;
    }

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.form-submit-button {
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  height: 50px;
  width: 100px;
  font: bold 15px arial, sans-serif;
  text-shadow:none;
}
.btn.primary {
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  height: 30px;
  width: 100px;
  font: bold 15px arial, sans-serif;
  text-shadow:none;
}

.label.h2 {
  color: white;
  height: 20px;
  width: 60px;
  font: bold 15px arial, sans-serif;
  text-shadow:none;
}

.label.h3 {
  color: #ffffff;
  height: 20px;
  width: 200px;
  font: bold 15px arial, sans-serif;
  text-shadow:none;
}
.mainselection {
  overflow:hidden;
  width:20px;
  margin-left:35px;
  font: bold 15px arial, sans-serif;
  color: #ffffff;
  /* background: url("images/dropdown_arrow.png") no-repeat #fff 319px 2px; */
  /* dropdown_arrow.png is a 31x28 image */
}
.select {
  border:0;
  background:#333333;
  height:24px;
  border:1px solid #0066A2;
  width:30px;
  margin-left:5px;
  text-align: center;
  font: bold 12px arial, sans-serif; 
}

.input.main {
  border:0;
  font: 14px arial, sans-serif;
  background:transparent;
  height:20px;
  border:1px solid #0066A2;
  width:65px;
  margin-left:5px; 
  text-align: center;
  border-radius: 4px;
}

.textarea{
  height:100px;
  border:1px solid #f8d8d8;
  width:200px;
}

.h1main{
  color: white; 
  font: bold 20px arial, sans-serif;
  text-shadow:none;
}
 
.column-tnc {
  float: left;
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

